{{- $scope := .CurrentSection -}}
{{- if in .RelPermalink "/digital-garden/silva-nigra/" -}}
  {{- $scope = site.GetPage "section" "digital-garden/silva-nigra" -}}
{{- else if in .RelPermalink "/digital-garden/musnotes/" -}}
  {{- $scope = site.GetPage "section" "digital-garden/musnotes" -}}
{{- end -}}

{{- $pages := slice -}}
{{- with $scope -}}
  {{- $pages = .RegularPagesRecursive.ByDate.Reverse -}}
{{- end -}}

{{- if gt (len $pages) 1 }}
<nav class="paginav">
  {{- with $pages.Prev . }}
  <a class="prev" href="{{ .Permalink }}">
    <span class="title">{{ cond (eq site.Language.Lang "id") "Artikel lebih baru" "Newer article" }}</span>
    <span>{{- .Name -}}</span>
  </a>
  {{- end }}

  {{- with $pages.Next . }}
  <a class="next" href="{{ .Permalink }}">
    <span class="title">{{ cond (eq site.Language.Lang "id") "Artikel lebih lama" "Older article" }}</span>
    <span>{{- .Name -}}</span>
  </a>
  {{- end }}
</nav>
{{- end }}
