{{- $scope := .CurrentSection -}}
{{- if in .RelPermalink "/digital-garden/silva-nigra/" -}}
  {{- $scope = site.GetPage "section" "digital-garden/silva-nigra" -}}
{{- else if in .RelPermalink "/digital-garden/musnotes/" -}}
  {{- $scope = site.GetPage "section" "digital-garden/musnotes" -}}
{{- end -}}

{{- $pages := slice -}}
{{- with $scope -}}
  {{- $pages = .RegularPagesRecursive.ByDate.Reverse -}}
{{- end -}}

{{- if gt (len $pages) 1 }}
<nav class="paginav">
  {{- with $pages.Prev . }}
  <a class="prev" href="{{ .Permalink }}">
    <span class="title">
      <span class="paginav__arrow" aria-hidden="true">&larr;</span>
    </span>
    <span>{{- .Name -}}</span>
  </a>
  {{- end }}

  {{- with $pages.Next . }}
  <a class="next" href="{{ .Permalink }}">
    <span class="title">
      <span class="paginav__arrow" aria-hidden="true">&rarr;</span>
    </span>
    <span>{{- .Name -}}</span>
  </a>
  {{- end }}
</nav>
{{- end }}
